.dropdown {
  position: fixed;
  width: 100%;
  height: 425px;
  background-color: white;
  top: 99px;
  left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  pointer-events: none;
  opacity: 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 425px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px; }

.bugles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.columnTitle {
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  font-weight: bold;
  font-size: 1.1em;
  color: #546e7a;
  font-smoothing: antialiased;
  margin-top: 20px;
  margin-bottom: 10px; }
  .columnTitle:hover {
    color: black;
    cursor: pointer; }

.productNames {
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  color: #546e7a;
  font-smoothing: antialiased;
  margin-top: 6px;
  margin-bottom: 6px; }
  .productNames:hover {
    color: black;
    cursor: pointer; }
html, body, main {
  min-height: 100%;
  margin: 0;
  background-color: #f9f9f9; }

* {
  box-sizing: border-box; }

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 99px;
  top: 0;
  background-color: white;
  position: fixed; }

.header {
  margin: 0; }

.bgcContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.link {
  text-decoration: none;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.logo {
  padding-left: 20px;
  width: 125px;
  height: 99px; }

.bgc {
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  font-weight: 300;
  font-size: 34pt;
  margin: 0;
  color: #263238;
  letter-spacing: 3px;
  font-smoothing: antialiased;
  text-align: left;
  margin: 0; }

.slogan {
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  font-weight: lighter;
  font-size: 1.5em;
  color: #263238;
  font-smoothing: antialiased;
  text-align: center;
  margin: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%; }

.menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 37px;
  padding-bottom: 37px; }
  .menuItem .item {
    font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    color: #546e7a;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-smoothing: antialiased;
    margin: 5px; }
  .menuItem .underline {
    width: 85px;
    height: 2px;
    opacity: 0; }
  .menuItem:hover {
    cursor: pointer; }
    .menuItem:hover .underline {
      opacity: 1;
      background-color: #ebb052;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .menuItem:hover .item {
      color: #ebb052;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .menuItem:hover .products {
      opacity: 1;
      pointer-events: all;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.search {
  fill: #546e7a;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer; }
  .search:hover {
    fill: black; }

.cart {
  fill: #546e7a;
  width: 20px;
  height: 20px;
  margin-right: 40px;
  cursor: pointer; }
  .cart:hover {
    fill: black; }

.alertBar {
  position: fixed;
  top: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 36px;
  background-color: #ebb052;
  z-index: 0; }

.alertMessage {
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  font-weight: lighter;
  font-size: 1.5em;
  color: #263238;
  font-smoothing: antialiased;
  margin: 5px;
  cursor: pointer;
  color: white; }

.chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  fill: white;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  cursor: pointer; }
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #546e7a;
  width: 150px;
  height: 50px;
  margin: 30px; }
  .button .buttonText {
    font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
    color: #546e7a;
    font-smoothing: antialiased;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px; }
  .button:hover {
    border-color: #ebb052;
    background-color: #ebb052;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .button:hover .buttonText {
      color: white; }
.navBar {
  z-index: 1000; }

.firstContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.firstSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 135px;
  background-color: white;
  width: 100%;
  height: 600px;
  border-radius: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .firstSec .chevronContainer {
    width: 50px;
    height: 150px;
    margin: 25px; }
  .firstSec .chevron {
    width: 50px;
    height: 150px;
    fill: #546e7a;
    opacity: 0; }
  .firstSec .dotContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 25px;
    opacity: 0; }
    .firstSec .dotContainer .dot {
      height: 9px;
      width: 9px;
      background-color: rgba(84, 110, 122, 0.4);
      border-radius: 50%;
      margin: 8px; }
    .firstSec .dotContainer .dot1 {
      height: 9px;
      width: 9px;
      background-color: #ebb052;
      border-radius: 50%;
      margin: 8px; }
  .firstSec:hover .chevron {
    opacity: 0.2;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .firstSec:hover .dotContainer {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.featuredItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 25px; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  font-weight: lighter;
  font-size: 1.5em;
  color: #263238;
  font-smoothing: antialiased;
  margin: 30px;
  font-size: 2em;
  color: #546e7a; }

.thumbnailIcon {
  width: 25px;
  height: 25px;
  margin: 25px;
  fill: #546e7a; }

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: 450px;
  margin: 25px;
  margin-top: 0; }

.featuredItem {
  width: 30%;
  background-color: white;
  border-radius: 2px; }
  .featuredItem:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.demoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 100%; }

.demoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
  padding-bottom: 75px; }

.demo {
  width: 700px;
  height: 500px;
  background-color: white; }

.demoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
  font-weight: lighter;
  font-size: 1.5em;
  color: #263238;
  font-smoothing: antialiased;
  margin-top: 75px;
  margin: 30px;
  font-size: 2em;
  color: #546e7a; }

.demoInfo {
  width: 600px;
  height: 400px;
  background-color: transparent; }

.categoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 100%; }

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 350px;
  background-color: black;
  border-radius: 2px;
  margin: 25px;
  margin-top: 0; }
  .category .categoryTitle {
    font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
    font-weight: lighter;
    font-size: 1.5em;
    color: #263238;
    font-smoothing: antialiased;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 25px;
    margin: 0;
    position: absolute;
    color: white;
    font-weight: 400; }
  .category .bkgrdimg {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 2px; }
  .category:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer; }
    .category:hover .categoryTitle {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }

.footer {
  width: 100%;
  height: 450px;
  background-color: #263238;
  margin-top: 75px; }
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url(/public/SourceSansPro-ExtraLight.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-ExtraLight.otf.woff) format('woff'),
         url(/public/SourceSansPro-ExtraLight.otf) format('opentype'),
         url(/public/SourceSansPro-ExtraLight.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url(/public/SourceSansPro-ExtraLightIt.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-ExtraLightIt.otf.woff) format('woff'),
         url(/public/SourceSansPro-ExtraLightIt.otf) format('opentype'),
         url(/public/SourceSansPro-ExtraLightIt.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url(/public/SourceSansPro-Light.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-Light.otf.woff) format('woff'),
         url(/public/SourceSansPro-Light.otf) format('opentype'),
         url(/public/SourceSansPro-Light.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url(/public/SourceSansPro-LightIt.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-LightIt.otf.woff) format('woff'),
         url(/public/SourceSansPro-LightIt.otf) format('opentype'),
         url(/public/SourceSansPro-LightIt.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url(/public/SourceSansPro-Regular.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-Regular.otf.woff) format('woff'),
         url(/public/SourceSansPro-Regular.otf) format('opentype'),
         url(/public/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url(/public/SourceSansPro-It.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-It.otf.woff) format('woff'),
         url(/public/SourceSansPro-It.otf) format('opentype'),
         url(/public/SourceSansPro-It.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url(/public/SourceSansPro-Semibold.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-Semibold.otf.woff) format('woff'),
         url(/public/SourceSansPro-Semibold.otf) format('opentype'),
         url(/public/SourceSansPro-Semibold.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url(/public/SourceSansPro-SemiboldIt.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-SemiboldIt.otf.woff) format('woff'),
         url(/public/SourceSansPro-SemiboldIt.otf) format('opentype'),
         url(/public/SourceSansPro-SemiboldIt.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url(/public/SourceSansPro-Bold.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-Bold.otf.woff) format('woff'),
         url(/public/SourceSansPro-Bold.otf) format('opentype'),
         url(/public/SourceSansPro-Bold.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url(/public/SourceSansPro-BoldIt.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-BoldIt.otf.woff) format('woff'),
         url(/public/SourceSansPro-BoldIt.otf) format('opentype'),
         url(/public/SourceSansPro-BoldIt.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url(/public/SourceSansPro-Black.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-Black.otf.woff) format('woff'),
         url(/public/SourceSansPro-Black.otf) format('opentype'),
         url(/public/SourceSansPro-Black.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url(/public/SourceSansPro-BlackIt.eot) format('embedded-opentype'),
         url(/public/SourceSansPro-BlackIt.otf.woff) format('woff'),
         url(/public/SourceSansPro-BlackIt.otf) format('opentype'),
         url(/public/SourceSansPro-BlackIt.ttf) format('truetype');
}
