@import '../constants';

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 50px;

  @include phone {
    padding: 20px;
  }

  @include smallPhone {
    padding: 15px;
  }
}

.aboutSection {
  display: flex;
  justify-content: space-around;
  margin: 50px;

  .textContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.aboutTitle {
  @include header-font;
  text-transform: uppercase;
  font-weight: 500;
  color: $bgc-medium-grey;
  margin-bottom: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: $bgc-orange;
}

.aboutText {
  @include default-font;
  font-weight: 300;
  font-size: 1em;
  padding: 0;
  line-height: 1.5;
  margin: 0;
  margin-top: 20px;
}

.aboutPhotoContainer {
  display: flex;
  flex-direction: column;
}

.portrait {
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landscape {
  width: 550px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.caption {
  @include default-font;
  font-weight: 200;
  background-color: transparent;
  margin: 5px 0;
}
