
@import '../constants';

.cartItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  .link {
    text-decoration: none;
  }

  .itemDescription {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .thumbnailImageDiv {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .item {
    @include subheader-font;
    font-size: 1.25em;
    padding-left: 15px;

    &:hover {
      color: $bgc-orange;
      cursor: pointer;
    }
  }

  .unitPrice {
    @include subheader-font;
    font-size: 1.25em;
    width: 200px;
    align-self: center;
    padding-left: 10px;
  }

  .quantityContainer {
    width: 200px;
    padding-left: 10px;
  }

  .itemTotal {
    @include subheader-font;
    font-size: 1.25em;
    width: 200px;
    align-self: center;
    padding-left: 10px;
  }

  .removeContainer {
    width: 200px;
    display: flex;
    justify-content: flex-end;

    .remove {
      fill: $bgc-medium-grey;
      height: 25px;
      width: 25px;
      cursor: pointer;

      &:hover {
        fill: darken(red, 10);
      }
    }
  }
}

.cartHeaderContainer {
  background-color: lighten($bgc-orange, 20);

  .cartHeader {
    font-family: $main-font-family;
    color: black;
    font-size: 2.5em;
    font-weight: 300;
    padding: 50px;
    margin: 0;
  }
}

.table {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 25px 50px;
}

.thead {
  width: 100%;
}

.tableBody {
  width: 100%;
}

.itemHeaderContainer {
  display: flex;
  justify-content: space-around;
}

.itemDescriptionHeader {
  @include menu-font;
  color: $bgc-medium-grey;
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  width: 500px;
  padding: 10px 0;
}

.itemHeader {
  @include menu-font;
  color: $bgc-medium-grey;
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  width: 200px;
  padding: 10px 0;
}

.removeTitle {
  text-align: right;
}

.horizontalRule {
  background-color: $bgc-light-grey;
  height: 2px;
  width: 100%;
}

.orderSummary {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
  margin-bottom: 25px;
}

.cartTotal {
  display: flex;
  justify-content: space-between;

  .item {
    @include default-font;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
  }

  .itemValue {
    @include default-font;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
  }


  .totalHeader {
    @include default-font;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
  }

  .totalValue {
    @include default-font;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
  }
}

.totalContainer {
  border: solid 1px #ddd;
  width: 350px;
  padding: 25px;
}

.checkoutLink {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-bottom: 25px;
}
