
@import '../constants';

.border {
  border: solid 1px $table-border-color;
  margin: 20px 50px;
  padding: 20px;

  .cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .cartTotalLabel, .cartSubtotal {
    @include subheader-font;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 20px;
  }
}

.cartItemContainer {
  display: flex;
  align-items: center;

  .link {
    display: flex;
    width: 100%;
    text-decoration: none;
  }

  .itemDescription {
    display: flex;
    align-items: center;
    min-width: 450px;
    max-width: 1200px;
    width: 100%;
  }

  .thumbnailImageDiv {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .item {
    @include subheader-font;
    font-size: 1.25em;
    padding-left: 15px;

    &:hover {
      color: $bgc-orange;
      cursor: pointer;
    }
  }

  .unitPrice {
    @include subheader-font;
    font-size: 1.25em;
    align-self: center;
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    padding-left: 10px;
  }

  .quantityContainer {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    padding-left: 10px;
  }

  .itemTotal {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    @include subheader-font;
    font-size: 1.25em;
    align-self: center;
    padding-left: 10px;
  }

  .removeContainer {
    display: flex;
    justify-content: flex-end;
    min-width: 50px;
    max-width: 300px;
    width: 100%;
    padding-right: 25px;

    .remove {
      width: 25px;
      height: 25px;
      fill: $bgc-medium-grey;
      cursor: pointer;

      &:hover {
        fill: darken(red, 10);
      }
    }
  }
}

.shopLink {
  width: 100%;
  text-decoration: none;
}

.continue {
  font-family: $main-font-family;
  color: $bgc-orange;
  margin: 50px;
  margin-top: 15px;
  text-align: right;
  cursor: pointer;

  @include tablet {
    text-align: center;
  }

  @include phone {
    text-align: center;
  }

  @include smallPhone {
    text-align: center;
  }

  &:hover {
    text-decoration: underline;
  }
}

.cartHeaderContainer {
  .homeLink {
    text-decoration: none;
  }

  .cartHeader {
    @include subheader-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    padding: 50px;
    padding-bottom: 0;
    margin: 0;

    @include tablet {
      text-align: center;
      padding: 20px;
      margin-top: 10px;
    }

    @include phone {
      text-align: center;
      padding: 20px;
      margin-top: 10px;
    }

    @include smallPhone {
      text-align: center;
      padding: 20px;
      margin-top: 10px;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.headingContainer {
  display: flex;
  width: 100%;
}

.tableBody {
  width: 100%;
}

.itemHeaderContainer {
  display: flex;
  justify-content: space-around;
}

.itemDescriptionHeader {
  min-width: 450px;
  max-width: 1200px;
  width: 100%;

  @include menu-font;
  color: $bgc-medium-grey;
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  padding: 10px 0;
}

.itemHeader {
  min-width: 100px;
  max-width: 300px;
  width: 100%;

  @include menu-font;
  color: $bgc-medium-grey;
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  padding: 10px 0 10px 10px;
}

.removeTitle {
  min-width: 50px;
  max-width: 300px;
  width: 100%;
  text-align: right;
}

.horizontalRule {
  width: 100%;
  height: 1px;
  background-color: $table-border-color;
}

.checkoutLink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 50px;
  text-decoration: none;
}

.cartEmptyMsg {
  display: flex;
  align-self: center;
  width: 100%;

  @include header-font;
  color: $bgc-medium-light-grey;
  text-align: center;
  padding: 100px;
  margin: 0;
}
