@import '../constants';

.checkoutPageContainer {
  height: 150%;
}

.sectionTitleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba($bgc-orange, 0.5);
  }

  &.formActive {
    background-color: rgba($bgc-orange, 0.5);
  }

  .chevron {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    fill: $bgc-orange;
    margin: 0 75px;

    &.rotateUp {
      transform: rotate(180deg);
      transition: transform 0.375s ease;
    }

    &.rotateDown {
      transform: rotate(-180deg);
      transition: transform 0.375s ease;
    }

    @include phone {
      width: 30px;
      height: 30px;
      margin: 0 15px;
    }

    @include smallPhone {
      width: 25px;
      height: 25px;
      margin: 0 15px;
    }
  }
}

.payDetailsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.billingFormContainer, .shippingFormContainer,
.paymentFormContainer, .reviewOrderContainer {
  overflow: hidden;
  padding: 0 75px 20px 75px;
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.hideForm {
    max-height: 0;
    padding: 0;
  }

  &.showForm {
    max-height: 1000px;
  }

  @include phone {
    padding: 0 25px 20px 25px;
  }

  @include smallPhone {
    padding: 0 15px 20px 15px;
  }
}

.checkoutHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    @include header-font;
    font-size: 2em;
    color: white;
    padding: 0 50px;
    margin: 0;

    @include phone {
      font-size: 1.5em;
      padding: 0 25px;
    }

    @include smallPhone {
      font-size: 1.25em;
      padding: 0 20px;
    }
  }

  .checkoutSubtitle {
    @include menu-font;
    color: rgba(white, 0.75);
    text-align: center;
    text-transform: lowercase;
  }
}

.checkoutHeaderBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
  background-color: $bgc-orange;

  .cart {
    width: 30px;
    height: 30px;
    margin: 25px 50px;
    fill: white;
    cursor: pointer;

    &:hover {
      fill: rgba(white, 0.75);
    }

    @include phone {
      margin: 25px;
    }

    @include smallPhone {
      width: 25px;
      height: 25px;
      margin: 20px;
    }
  }
}

.shippingInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;

  @include smallPhone {
    margin-top: 85px;
  }

  .form {
    width: 100%;
  }

  .header {
    width: 600px;
    @include header-font;
    text-align: left;
    margin: 25px;
    margin-left: 150px;

    @include phone {
      font-size: 1.5em;
      letter-spacing: 2px;
      margin-left: 75px;
    }

    @include smallPhone {
      font-size: 1.25em;
      letter-spacing: 2px;
      margin-left: 65px;
    }
  }

  .nameContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-left: solid 1px $form-grey;

    @include phone {
      flex-direction: column;
    }

    @include smallPhone {
      flex-direction: column;
    }
  }

  .inputLabel {
    display: block;
    position: relative;
    height: 64px;
    overflow: hidden;
    font-family: $form-font-family;
    border-right: solid 1px $form-grey;
    border-top: solid 1px $form-grey;
    border-bottom: solid 1px $form-grey;
    margin-top: -1px;
    padding: 0;

    &.halfWidth {
      width: 50%;

      @include phone {
        width: 100%;
      }

      @include smallPhone {
        width: 100%;
      }
    }

    &.fullWidth {
      width: 100%;

      @include phone {
        width: 100%;
      }

      @include smallPhone {
        width: 100%;
      }
    }

    &.quarterWidth {
      width: 25%;

      @include phone {
        width: 100%;
      }

      @include smallPhone {
        width: 100%;
      }
    }
  }

  .inputSpan {
    display: block;
    position: absolute;
    top: 25px;
    left: 14px;
    color: $form-text-grey;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    transform: translate3d(0,6px,0);

    @include phone {
      font-size: 14px;
    }

    @include smallPhone {
      font-size: 14px;
    }
  }

  .formInput {
    display: block;
    width: 100%;
    height: 64px;
    font-weight: 200;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 14px;
    padding-bottom: 0px;

    &:focus {
      background-color: #f9f9f9;
      transition: background-color 131ms linear;

      & ~ .inputSpan {
        color: black;
      }
    }
  }

  .addressContainer {
    border-left: solid 1px $form-grey;
  }

  .locationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-left: solid 1px $form-grey;

    @include phone {
      flex-direction: column;
    }

    @include smallPhone {
      flex-direction: column;
    }
  }

  .phoneEmailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-left: solid 1px $form-grey;

    @include phone {
      flex-direction: column;
    }

    @include smallPhone {
      flex-direction: column;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin: 50px;

    @include smallPhone {
      margin: 25px;
    }
  }

  .placeOrderButton {
    width: 50%;

    @include phone {
      width: 100%;
    }

    @include smallPhone {
      width: 100%;
    }
  }

  .shippingOptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .formDetails {
    font-family: $main-font-family;
    font-size: 1.1em;
    font-weight: 200;
    text-align: left;
    color: $bgc-medium-grey;
    white-space: nowrap;

    &.paypal {
      cursor: pointer;
      text-decoration: none;
    }

    @include phone {
      font-size: 1em;
    }

    @include smallPhone {
      font-size: 1em;
    }
  }

  .check {
    width: 50px;
    height: 50px;
    appearance: none;
    outline: none;
  }

  .lock {
    width: 25px;
    height: 25px;
    fill: lighten($bgc-medium-grey, 25);
    margin-right: 5px;
  }

  .braintreeUI {
    border: solid 1px $form-grey;
    padding-top: 25px;
    margin-bottom: -5px;
  }

  .amountDueHeader {
    @include subheader-font;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .link {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
  }

  .viewCart {
    @include default-font;
    color: $bgc-orange;
    margin: 5px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.reviewItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  border: solid 1px $table-border-color;
  padding: 25px 30px;

  @include phone {
    flex: 1;
    padding: 10px 15px;
  }

  @include smallPhone {
    flex: 1;
    padding: 10px 15px;
  }

  .itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    width: 100%;
    margin: 5px;

    .description {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .img {
      width: 75px;
      height: 75px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      @include phone {
        width: 50px;
        height: 50px;
      }

      @include smallPhone {
        width: 0;
        height: 0;
      }
    }

    .item {
      @include subheader-font;
      font-size: 1.25em;
      padding-left: 15px;

      @include phone {
        font-size: 1em;
        padding-left: 10px;
      }

      @include smallPhone {
        font-size: 1em;
        padding-left: 10px;
      }
    }

    .quantity {
      @include subheader-font;
      font-size: 1.25em;
      text-align: right;
      align-self: center;

      @include phone {
        font-size: 1em;
        padding-left: 10px;
      }

      @include smallPhone {
        font-size: 1em;
        padding-left: 10px;
      }
    }
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 0 75px;
  border-radius: 50%;
  background-color: $bgc-orange;
  box-shadow: 0 0 4px rgba(0,0,0,.04), 0 4px 8px rgba(0,0,0,.1);

  @include phone {
    width: 45px;
    height: 45px;
    margin: 0 15px;
  }

  @include smallPhone {
    width: 35px;
    height: 35px;
    margin: 0 15px;
  }

  .number {
    @include subheader-font;
    color: white;
    font-weight: 300;
    text-align: center;

    @include smallPhone {
      font-size: 1.25em;
    }
  }
}

.orderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;

  @include phone {
    flex-direction: column;
  }

  @include smallPhone {
    flex-direction: column;
  }

  .myOrderSummary {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-left: 25px;

    @include phone {
      margin-left: 0;
      margin-top: 10px;
    }

    @include smallPhone {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.cartTotal {
  display: flex;
  justify-content: space-between;

  .item {
    @include default-font;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
  }

  .total {
    @include default-font;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
  }
}

.totalContainer {
  width: 100%;
  max-height: 300px;
  padding: 25px;
  border: solid 1px $table-border-color;

  @include phone {
    padding: 15px;
  }

  @include smallPhone {
    padding: 15px;
  }
}
