@import '../constants';

.galleryHeaderContainer, .welcomeContainer {
    background-color: $bgc-medium-light-grey;
    padding: 75px;

    @include phone {
        padding: 35px;
    }

    @include smallPhone {
        padding: 20px;
    }
}

.galleryHeader {
    @include header-font;
    color: $bgc-dark-orange;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px 0;
    white-space: nowrap;

    @include phone {
        font-size: 1.75em;
    }

    @include smallPhone {
        font-size: 1.25em;
    }
}

.gallerySubheader, .welcomeHeader {
    @include header-font;
    text-align: center;
    color: $bgc-medium-grey;
    font-size: 3.75em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px 0;

    @include phone {
        font-size: 2em;
    }

    @include smallPhone {
        font-size: 1.5em;
    }
}

.photoCategories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 0 250px;
}

.photoContainer {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  flex-wrap: wrap;
  width: 100%;
  background-color: $bgc-medium-light-grey;

  @include tabletLandscape {
    flex-basis: 33%;
  }

  @include tablet {
    flex-basis: 50%;
  }

  @include phone {
    flex-basis: 100%;
  }

  @include smallPhone {
    flex-basis: 100%;
  }

  .photo {
    width: 25%;
    height: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: $bgc-light-grey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    @include tabletLandscape {
      width: 33%;
    }

    @include tablet {
      width: 50%;
    }

    @include phone {
      width: 100%;
    }

    @include smallPhone {
      width: 100%;
    }
  }
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photoView {
  width: 700px;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include tablet {
    width: 600px;
    height: 500px;
  }

  @include phone {
    width: 375px;
    height: 275px;
  }

  @include smallPhone {
    width: 300px;
    height: 200px;
  }
}

.photoModal {
  display: flex;
  justify-content: center;
  width: 0 !important;
  padding: 0 !important;
  margin: 0;
  pointer-events: none;

  .exit {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 20px;
    fill: rgba($bgc-light-grey, 0.5);
    pointer-events: all;
    cursor: pointer;

    &:hover {
      fill: $bgc-light-grey;
    }
  }

  .caption {
    @include menu-font;
    color: $bgc-orange;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 20px 0;
  }

  .photoLeft {
    position: fixed;
    top: calc(50% - 50px);
    left: 0;
    width: 100px;
    height: 100px;
    fill: $bgc-medium-grey;
    margin: 0 50px;
    pointer-events: all;
    cursor: pointer;

    @include tablet {
      width: 75px;
      height: 75px;
      margin: 0;
    }

    @include phone {
      width: 75px;
      height: 75px;
      margin: 0;
    }

    @include smallPhone {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    &:hover {
      fill: $bgc-light-grey;
    }
  }

  .photoRight {
    position: fixed;
    top: calc(50% - 50px);
    right: 0;
    width: 100px;
    height: 100px;
    margin: 0 50px;
    fill: $bgc-medium-grey;
    pointer-events: all;
    cursor: pointer;

    @include tablet {
      width: 75px;
      height: 75px;
      margin: 0;
    }

    @include phone {
      width: 75px;
      height: 75px;
      margin: 0;
    }

    @include smallPhone {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    &:hover {
      fill: $bgc-light-grey;
    }
  }
}
