@import '../constants';

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  .link {
    text-decoration: none;
  }

  .back {
    @include default-font;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
    margin: 25px;
    cursor: pointer;

    &:hover {
      color: $bgc-orange;
    }
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 75px;
  }

  .welcome {
    @include subheader-font;
    font-size: 1.5em;
    margin: 0;
  }

  .header {
    @include header-font;
    color: $bgc-orange;
    font-size: 3em;

    @include phone {
      font-size: 2em;
    }

    @include smallPhone {
      font-size: 2em;
    }
  }
}

.registerContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 500px;
  border: solid 1px $table-border-color;
  margin: 50px;

  @include tablet {
    flex-direction: column;
  }

  @include phone {
    flex-direction: column;
    margin: 50px 25px;
  }

  @include smallPhone {
    flex-direction: column;
    margin: 25px 10px;
    min-height: 425px;
  }

  input {
    font-size: 2em;
  }

  .header {
    @include subheader-font;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .loginButton, .newAccountButton {
    width: 100%;
  }
}

.passwordReset {
  font-family: $main-font-family;
  font-size: 0.8em;
  text-align: center;
  color: $bgc-orange;
  margin: 15px;
}

.returningUserContainer, .newUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 500px;
  padding: 50px 75px;

  @include phone {
    padding: 40px 20px;
  }

  @include smallPhone {
    min-height: 425px;
    padding: 40px 20px;
  }
}

.returningUserContainer {
  border-right: solid 1px $table-border-color;

  @include tablet {
    border-right: none;
    border-bottom: solid 1px $table-border-color;
  }

  @include phone {
    border-right: none;
    border-bottom: solid 1px $table-border-color;
  }

  @include smallPhone {
    border-right: none;
    border-bottom: solid 1px $table-border-color;
  }
}
