@import '../constants';

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 0;
  }

  .welcome {
    @include subheader-font;
    font-size: 1.5em;
    margin: 0;
  }

  .header {
    @include header-font;
    color: $bgc-orange;
    font-size: 3em;
  }
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ddd;

  input {
    width: 500px;
    font-size: 2em;
  }

  .header {
    @include subheader-font;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .loginButton, .newAccountButton {
    width: 100%;
  }
}

.returningUserContainer, .newUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  width: 50%;
  padding: 50px 75px;
}

.returningUserContainer {
  border-right: solid 1px #ddd;
}
