@import '../constants';

.demosContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bgc-background-color;
}

.videoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 300px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 40px;
  border-radius: 3px;

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  @include tablet {
    flex-direction: column;
  }

  .thumbnail {
    width: 350px;
    height: 220px;
    background-color: lighten(grey, 25);
    margin-right: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
  }

  .detailsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .title {
    @include subheader-font;
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;
    text-align: center;

    @include tabletLandscape {
      font-size: 1.5em;
    }

    @include tablet {
      font-size: 1.75em;
    }

    @include phone {
      font-size: 1.5em;
    }

    @include smallPhone {
      font-size: 1.5em;
    }
  }

  .description {
    @include default-font;
    font-weight: 300;
    font-size: 1.1em;
    padding: 0;
    line-height: 1.5;

    @include tablet {
      font-size: 1em;
    }

    @include phone {
      font-size: 1em;
    }

    @include smallPhone {
      font-size: 1em;
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tabletLandscape {
      width: 80%;
      justify-content: space-around;
      align-self: center;
    }

    @include phone {
      flex-direction: column;
    }
  }

  .watchButton {
    margin-right: 20px;

    @include tabletLandscape {
      @include touchscreenButton
    }

    @include phone {
      @include touchscreenButton;
    }
  }

  .shopButton {
    @include tabletLandscape {
      @include touchscreenButton
    }

    @include phone {
      @include touchscreenButton;
    }
  }
}

.videoModal {
  display: flex;
  justify-content: center;
  width: 0 !important;
  padding: 0 !important;
}

.exit {
  position: fixed;
  width: 50px;
  height: 50px;
  margin: 20px;
  fill: rgba($bgc-light-grey, 0.5);
  right: 0;
  top: 0;
  pointer-events: none;
}
