@import '../constants';

.productView {
  display: flex;
  align-self: center;
  margin: 2.5%;
  width: 95%;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}

.largeProductName {
  @include subheader-font;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.thumbnailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 500px;
  background-color: lighten(grey, 25);
}

.thumbnail {
  width: 100%;
  height: 33%;
  background-color: black;
}

.imgDivLarge {
  display: flex;
  align-self: center;
  width: 50%;
  height: 500px;
  background: lighten(grey, 25);
}

.orderDiv {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.priceHeader {
  @include subheader-font;
  font-size: 2.25em;
  font-weight: 300;
  margin: 0;

  &.strike {
    text-decoration: line-through;
  }
}

.discountHeader {
  @include subheader-font;
  font-size: 2.25em;
  font-weight: 300;
  margin: 0;
  margin-left: 10px;
  color: red;
}

.priceSubHeader {
  @include subheader-font;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}

.buttonPickerContainer {
  display: flex;
  flex-direction: row;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.descriptionHeader {
  @include subheader-font;
  font-weight: 400;
  margin: 0;
}

.itemDescription {
  @include default-font;
  font-weight: 300;
  font-size: 1.1em;
  padding: 0;
  line-height: 1.5;
  margin-bottom: 0;
}

.relatedProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
}

.relatedInnerDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 95%;
  height: 100%;
}

.relatedItem {
  display: flex;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 30px;

  &:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transform: scale(1.02);
    transition: all 0.2s ease;
  }
}
