@import '../constants';

.productView {
  display: flex;
  align-self: center;
  margin: 2.5%;
  width: 95%;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}

.largeProductName {
  @include subheader-font;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
  padding-left: 20px;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.thumbnailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 500px;
  background-color: lighten(grey, 25);
}

.thumbnail {
  width: 100%;
  height: 33%;
  background-color: black;
}

.imgDivLarge {
  display: flex;
  align-self: center;
  width: 50%;
  height: 500px;
  background: lighten(grey, 25);
}

.orderDiv {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.priceHeader {
  @include subheader-font;
  font-size: 2.25em;
  font-weight: 300;
  margin: 0;

  &.strike {
    text-decoration: line-through;
  }
}

.discountHeader {
  @include subheader-font;
  font-size: 2.25em;
  font-weight: 300;
  margin: 0;
  margin-left: 10px;
  color: red;
}

.priceSubHeader {
  @include subheader-font;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}

.buttonPickerContainer {
  display: flex;
  flex-direction: row;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.descriptionHeader {
  @include subheader-font;
  font-weight: 400;
  margin: 0;
}

.itemDescription {
  @include default-font;
  font-weight: 300;
  font-size: 1.1em;
  padding: 0;
  line-height: 1.5;
  margin-bottom: 0;
}

.relatedProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.relatedInnerDiv {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  height: 390px;
}

.relatedItem {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  white-space: nowrap;

  .link {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  &:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transform: scale(1.02);
    transition: all 0.2s ease;
  }

  .title {
    @include default-font;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0;
    margin-bottom: 0;
    align-self: center;
  }
}

.paginationButton {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  top: calc(50% - 25px);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &.left {
    left: -50px;
  }

  &.right {
    right: -50px;
  }

  .paginationChevron {
    width: 50px;
    height: 50px;
    fill: rgba($bgc-medium-grey, 0.25);

    &:hover {
      fill: rgba($bgc-medium-grey, 0.5);
    }
  }
}

.carousel {
  display: flex;

  &.right .carousel-enter {
    transform: translateX(-100%);
  }

  &.left .carousel-enter {
    transform: translateX(100%);
  }

  .carousel-enter {
    opacity: 0;

    &.carousel-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: all 500ms cubic-bezier(1, 0, 0, 1);
    }
  }

  .carousel-leave {
    opacity: 1;
    transform: translateX(0);

    &.right .carousel-leave-active {
      transform: translateX(100%);
    }

    &.left .carousel-leave-active {
      transform: translateX(-100%);
    }

    &.carousel-leave-active {
      opacity: 0;
      transition: all 500ms cubic-bezier(1, 0, 0, 1);
    }
  }

  .transitionContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
