@import '../constants';

.productPageContainer {
  background-color: $bgc-background-color;
  position: absolute;
  top: 135px;
  width: 100%;

  @include phone {
    top: 110px;
  }

  @include smallPhone {
    top: 110px;
  }
}

.productView {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  margin: 2.5%;
  width: 95%;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 30px 40px;

  @include phone {
    padding: 20px;
  }

  @include smallPhone {
    padding: 15px;
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include tabletLandscape {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }

    @include phone {
      flex-direction: column;
    }

    @include smallPhone {
      flex-direction: column;
    }
  }

  .name {
    @include subheader-font;
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;

    @include phone {
      font-size: 1.75em;
    }

    @include smallPhone {
      font-size: 1.5em;
    }
  }

  .imgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;

    @include tabletLandscape {
      width: 100%;
      justify-content: center;
    }

    @include tablet {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      margin: 20px 0;
    }

    @include phone {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      margin: 20px 0;
    }

    @include smallPhone {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 20px 0;
    }

    .thumbnailsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
      height: 500px;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 200px;
      }

      @include phone {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100px;
      }

      @include smallPhone {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100px;
      }
    }

    .thumbnail {
      width: 100%;
      height: 33%;
      cursor: pointer;

      @include tablet {
        height: 100%;
        width: 33%;
      }

      @include phone {
        height: 100%;
        width: 33%;
      }

      @include smallPhone {
        height: 100%;
        width: 33%;
      }
    }

    .mainImg, .thumbnail {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .mainImg {
      display: flex;
      align-self: center;
      width: 80%;
      height: 500px;
      margin: 10px 0 10px 10px;

      @include tablet {
        width: 100%;
        height: 450px;
        margin: 10px 0 0 0;
      }

      @include phone {
        width: 100%;
        height: 250px;
        margin: 10px 0 0 0;
      }

      @include smallPhone {
        width: 100%;
        height: 250px;
        margin: 10px 0 0 0;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 25px;

    @include tabletLandscape {
      width: 100%;
      margin: 25px 0;
    }

    @include tablet {
      width: 100%;
      margin: 25px 0;
    }

    @include phone {
      width: 100%;
      margin: 25px 0;
    }

    @include smallPhone {
      width: 100%;
      margin: 25px 0;
    }
  }

  .priceContainer {
    display: flex;
    flex-direction: row;
  }

  .price {
    @include subheader-font;
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;

    &.strike {
      text-decoration: line-through;
    }

    @include phone {
      font-size: 1.75em;
    }

    @include smallPhone {
      font-size: 1.75em;
    }
  }

  .discount {
    @include subheader-font;
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;
    margin-left: 10px;
    color: red;

    @include phone {
      font-size: 1.75em;
    }

    @include smallPhone {
      font-size: 1.75em;
    }
  }

  .shipping {
    @include subheader-font;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;

    @include phone {
      font-size: 1.25em;
    }

    @include smallPhone {
      font-size: 1.25em;
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;

    @include smallPhone {
      justify-content: center;
    }

    .cartButton {
      margin: 30px 0;

      @include tabletLandscape {
        @include touchscreenButton;
      }

      @include tablet {
        @include touchscreenButton;
      }

      @include phone {
        @include touchscreenButton;
      }

      @include smallPhone {
        @include touchscreenButton;
      }
    }
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .descriptionTitle {
    @include subheader-font;
    font-weight: 400;
    margin: 0;
  }

  .description {
    @include default-font;
    font-weight: 300;
    font-size: 1.1em;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 0;

    @include phone {
      font-size: 1em;
    }

    @include smallPhone {
      font-size: 1em;
    }
  }
}

.relatedProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;

  .subheader {
    @include subheader-font;
    font-size: 2.25em;
    font-weight: 400;
    margin: 0;
    color: $bgc-medium-grey;

    @include phone {
      font-size: 1.75em;
    }

    @include smallPhone {
      font-size: 1.5em;
    }
  }

  .relatedInnerDiv {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: 390px;
  }

  .relatedItem {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    white-space: nowrap;

    .link {
      text-decoration: none;
      width: 100%;
      height: 100%;
    }

    &:hover {
      box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
      transform: scale(1.02);
      transition: all 0.2s ease;
    }

    .title {
      @include default-font;
      font-weight: 400;
      font-size: 1.1em;
      padding: 0;
      margin-bottom: 0;
      align-self: center;
    }
  }

  .paginationButton {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    top: calc(50% - 25px);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &.left {
      left: -50px;
    }

    &.right {
      right: -50px;
    }

    .paginationChevron {
      width: 50px;
      height: 50px;
      fill: rgba($bgc-medium-grey, 0.25);

      &:hover {
        fill: rgba($bgc-medium-grey, 0.5);
      }
    }
  }

  .carousel {
    display: flex;

    &.right .carousel-enter {
      transform: translateX(-100%);
    }

    &.left .carousel-enter {
      transform: translateX(100%);
    }

    .carousel-enter {
      opacity: 0;

      &.carousel-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: all 500ms cubic-bezier(1, 0, 0, 1);
      }
    }

    .carousel-leave {
      opacity: 1;
      transform: translateX(0);

      &.right .carousel-leave-active {
        transform: translateX(100%);
      }

      &.left .carousel-leave-active {
        transform: translateX(-100%);
      }

      &.carousel-leave-active {
        opacity: 0;
        transition: all 500ms cubic-bezier(1, 0, 0, 1);
      }
    }

    .transitionContainer {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
