@import '../constants';

.productsContainer {
  background-color: $bgc-background-color;
}

.productGrid {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 25px 50px;
  margin-left: 250px;
  flex-wrap: wrap;

  @include tabletLandscape {
    padding: 0;
    justify-content: center;
  }

  @include tablet {
    margin-left: 0;
    padding: 0;
    justify-content: center;
  }

  @include phone {
    margin-left: 0;
    padding: 0;
    justify-content: center;
  }

  @include smallPhone {
    margin-left: 0;
    padding: 0;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;

    @include tabletLandscape {
      padding: 10px 0;
    }

    @include tablet {
      padding: 10px 0;
    }

    @include phone {
      padding: 5px 0;
      flex-basis: 100%;
    }

    @include smallPhone {
      padding: 5px 0;
      flex-basis: 100%;
    }

    .link {
      display: flex;
      text-decoration: none;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      @include tabletLandscape {
        margin-bottom: 0;
      }

      @include tablet {
        margin-bottom: 0;
      }

      @include phone {
        margin-bottom: 0;
      }

      @include smallPhone {
        margin-bottom: 0;
      }
    }
  }

  .product {
    width: 95%;
    min-width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 3px;
    padding: 25px;

    &:hover {
      box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
      transform: scale(1.02);
      transition: all 0.2s ease;
    }

    @include tabletLandscape {
      height: 400px;
    }

    @include tablet {
      margin: 0;
    }

    @include smallPhone {
      height: 300px;
      margin: 0;
    }
  }

  .title {
    @include subheader-font;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;

    @include smallPhone {
      font-size: 1.1em;
    }

    @include phone {
      font-size: 1.2em;
    }
  }

  .priceContainer {
    display: flex;
    flex-direction: row;
  }

  .price {
    @include subheader-font;
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;

    &.strike {
      text-decoration: line-through;
    }

    @include smallPhone {
      font-size: 1.1em;
    }

    @include phone {
      font-size: 1.2em;
    }
  }

  .discount {
    @include subheader-font;
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    color: red;
  }

  .productImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;

    .productImage {
      width: 90%;
      height: 90%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}
