@import '../constants';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgc-dark-grey;

  .header {
    @include subheader-font;
    font-size: 1.4em;
    color: rgba($bgc-background-color, 0.7);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 0;
    margin: 0;
  }

  .horizontalRule {
    width: 95%;
    height: 1px;
    background-color: rgba($bgc-background-color, 0.3);
  }

  .contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 50px;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }

    @include smallPhone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
  }
}

.leftContents {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 15px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px;
    padding-bottom: 0;
  }

  @include phone {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
  }

  @include smallPhone {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .subheader {
    @include subheader-font;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    color: $bgc-background-color;
    letter-spacing: 1px;
    margin-bottom: 20px;

    @include tablet {
      text-align: center;
      margin-left: 0;
    }

    @include phone {
      width: 100%;
      text-align: center;
      font-size: 1em;
      padding-right: 30px;
      padding-bottom: 20px;
      margin: 0;
      margin-top: 25px;
    }

    @include smallPhone {
      width: 100%;
      text-align: center;
      font-size: 1em;
      margin: 0;
      margin-top: 25px;
    }
  }

  .section {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .infoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        .icon {
          fill: $bgc-orange;
        }
      }
    }

    .iconText {
      display: flex;
      align-self: flex-start;
      @include subheader-font;
      font-size: 1em;
      color: $bgc-background-color;
      letter-spacing: 1px;
      margin: 10px 15px;

      &:hover {
        color: $bgc-orange;
      }

      @include phone {
        font-size: 1em;
      }

      @include smallPhone {
        font-size: 1em;
      }
    }

    .icon {
      width: 25px;
      height: 25px;
      fill: rgba($bgc-background-color, 0.5);
      margin: 11px 0;
    }

    .text {
      display: flex;
      align-self: flex-start;
      @include subheader-font;
      color: $bgc-background-color;
      font-size: 1em;
      letter-spacing: 1px;
      margin: 0 0 20px 41px;

      &:hover {
        color: $bgc-orange;
      }

      @include phone {
        font-size: 1em;
      }

      @include smallPhone {
        font-size: 1em;
      }
    }
  }
}

.rightContents {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;

  @include tablet {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
  }

  @include phone {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  @include smallPhone {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .subheader {
    @include subheader-font;
    color: $bgc-background-color;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .itemContainer {
    display: flex;
    flex-direction: row;

    &:hover {
      .icon {
        fill: $bgc-orange;
      }
    }
  }

  .icon {
    width: 25px;
    height: 25px;
    fill: rgba($bgc-background-color, 0.5);
    margin: 16px 0 16px 0;
  }

  .input {
    width: 90%;
    @include subheader-font;
    font-size: 1em;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $bgc-light-grey;
    background: $bgc-light-grey;
    margin: 8px;
    margin-left: 16px;
    padding: 5px;
    appearance: none;
    outline: 0;

    &:focus {
      border-color: $bgc-orange;
    }

    @include tablet {
      margin-right: 0;
    }

    @include phone {
      margin-right: 0;
    }

    @include smallPhone {
      margin-right: 0;
    }
  }

  .textArea {
    width: 90%;
    min-height: 180px;
    @include subheader-font;
    font-size: 1em;
    background: $bgc-light-grey;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $bgc-light-grey;
    margin: 8px 8px 16px 16px;
    padding: 5px;
    appearance: none;
    outline: 0;

    &:focus {
      border-color: $bgc-orange;
    }
  }

  .sendContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;

    @include tablet {
      justify-content: center;
      padding: 0;
    }

    @include phone {
      justify-content: center;
      padding: 0;
    }

    @include smallPhone {
      justify-content: center;
      padding: 0;
    }
  }
}

.copyrightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: darken($bgc-dark-grey, 5);

  .icon {
    width: 15px;
    height: 15px;
    fill: rgba($bgc-background-color, 0.5);
    margin: 5px;
  }

  .copyright {
    @include subheader-font;
    color: rgba($bgc-background-color, 0.4);
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .heart {
    width: 25px;
    height: 25px;
    fill: #d32bb4;
    margin: 5px;
  }
}

.anchor {
  text-decoration: none;
}
