@import '../constants';

.moreDropDown {
  position: absolute;
  top: 99px;
  z-index: 100;
  background-color: white;
  border-width: 1px solid $table-border-color;
  opacity: 0;
  padding: 10px 20px;
  pointer-events: none;

  @include tabletLandscape {
    width: 20%;
  }

  @include tablet {
    width: 25%;
  }
}

.subItem {
  @include menu-font;
  margin-top: 20px;
  margin-bottom: 10px;

  &:hover {
    color: black;
    cursor: pointer;
  }
}
