@import '../constants';

.productFeatureContainer {
  background-color: $bgc-medium-light-grey;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
}

.productBannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

  @include tablet {
    height: 100px;
    padding: 0;
    justify-content: flex-end;
  }

  @include phone {
    height: 200px;
    padding: 0;
    justify-content: flex-end;
  }

  @include smallPhone {
    height: 150px;
    padding: 0;
    justify-content: flex-end;
  }

  .rowContainer {
    display: flex;
    flex-direction: row;
  }

  .header {
    display: flex;
    @include subheader-font;
    color: $bgc-medium-grey;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;

    &.highlight {
      color: $bgc-dark-orange;
    }

    @include tabletLandscape {
      font-size: 2.5em;
    }

    @include tablet {
      font-size: 2em;
    }

    @include phone {
      font-size: 1.5em;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    @include smallPhone {
      font-size: 1.25em;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }
}

  .viewLink {
    display: flex;
    justify-content: center;
    text-decoration: none;

    @include tablet {
      width: 100%;
      padding: 0 75px;
      margin-bottom: 25px;
    }

    @include phone {
      width: 100%;
    }

    @include smallPhone {
      width: 100%;
    }
  }

  .viewAllButton {
    margin-top: 50px;

    @include tablet {
      width: 100%;
      margin: 0;
    }

    @include phone {
      align-self: center;
      width: 90%;
      margin: 0;
    }

    @include smallPhone {
      align-self: center;
      width: 90%;
      margin: 0;
    }
  }

  .featured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 50px;

    @include phone {
      padding: 0;
    }

    @include smallPhone {
      padding: 0;
    }
  }

  .header {
    display: flex;
    @include subheader-font;
    color: $bgc-medium-grey;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 50px 0;

    @include phone {
        margin: 20px 0;
    }

    @include smallPhone {
        margin: 20px 0;
    }


    &.highlight {
      color: $bgc-dark-orange;
    }

    @include tabletLandscape {
      font-size: 2.5em;
    }

    @include tablet {
      font-size: 2em;
      margin-bottom: 40px;
    }

    @include phone {
      font-size: 1.5em;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    @include smallPhone {
      font-size: 1.25em;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }

  .featuredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    height: 450px;

    @include tabletLandscape {
      flex-basis: 50%;
    }

    @include tablet {
      flex-basis: 100%;
      min-height: 650px;
    }

    @include phone {
      flex-basis: 100%;
    }

    @include smallPhone {
      flex-basis: 100%;
      min-height: 350px;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: $bgc-medium-light-grey;
      margin: 0;
      text-decoration: none;
    }

    .featuredDiv {
      align-items: flex-end;
      justify-content: flex-end;
      width: 90%;
      height: 90%;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      padding: 25px;

      .title {
        @include subheader-font;
        font-size: 1.75em;
        font-weight: 300;
        margin: 0;

        @include phone {
          font-size: 1.25em;
        }

        @include smallPhone {
          font-size: 1.25em;
        }
      }

      .priceContainer {
        display: flex;
        flex-direction: row;

        .price {
          @include subheader-font;
          font-size: 1.25em;
          font-weight: 300;
          margin: 0;
          margin-top: 10px;

          &.strike {
            text-decoration: line-through;
          }
        }

        .discount {
          @include subheader-font;
          color: red;
          font-size: 1.25em;
          font-weight: 400;
          margin: 0;
          margin-top: 10px;
          margin-left: 10px;
        }
      }

      &:hover {
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        transform: scale(1.02);
        transition: all 0.2s ease;
      }
    }

    .productImgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90%;
      padding: 10px;

      .productImage {
        width: 100%;
        height: 90%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
