
.navBarHeader {
  z-index: 1000;
}

html, body, main {
  min-height: 100%;
  margin: 0;
  background-color: white;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}
