@import './constants';

.cartModalContainer {

  .itemsAddedContainer {
    display: flex;
    align-items: center;
  }

  .continueShopping {
    @include default-font;
    color: $bgc-medium-grey;
    position: absolute;
    bottom: 0;
    right: 25px;
    cursor: pointer;

    &:hover {
      color: $bgc-orange;
    }
  }

  .itemDetailsContainer {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;

    .productDetailsContainer {
      display: flex;
      flex-direction: column;
    }

    .productThumbnail {
      margin-right: 15px;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .itemSelected {
      font-family: $main-font-family;
      font-weight: 400;
      font-size: 1.5em;
      margin: 0;
    }

    .itemSelectedTotal {
      font-family: $main-font-family;
      font-weight: 400;
      font-size: 1.5em;
      margin: 0;
    }

    .itemDetails {
      font-family: $main-font-family;
      font-weight: 300;
      font-size: 1em;
      margin: 5px 0 0 0;
    }
  }

  .checkmark {
    fill: $green;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .itemsAddedMsg {
    font-family: $main-font-family;
    font-weight: 300;
  }

  .exit {
    fill: $bgc-orange;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.itemContainer {
  display: flex;
  justify-content: space-between;
}

.totalsCheckoutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $bgc-medium-light-grey;

  .subtotalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .subtotal {
      font-family: $main-font-family;
      font-weight: 300;
      margin: 0 10px 10px 10px;
    }
  }

  .horizontalRule {
    width: 100%;
    height: 1px;
    background-color: $bgc-medium-grey;
  }

  .total {
    font-family: $main-font-family;
    font-weight: 300;
    margin: 10px;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-decoration: none;
    margin-top: 10px;
  }
}
