$main-font-family: Source Sans Pro, Avenir Next, Avenir, Helvetica, "sans-serif";
$bgc-background-color: #f9f9f9;
$bgc-dark-grey: #263238;
$bgc-medium-grey: #546e7a;
$bgc-orange: #ebb052;
$bgc-dark-orange: #cd8818;
$bgc-light-grey: #f2f2f2;
$bgc-yellow: #ffdc85;

@mixin header-font {
  font-family: $main-font-family;
  font-weight: 300;
  font-size: 34pt;
  margin: 0;
  color: $bgc-dark-grey;
  letter-spacing: 3px;
  font-smoothing: antialiased;

  &::selection {
    background-color: rgba($bgc-orange, 0.4);
  }
}

@mixin subheader-font {
  font-family: $main-font-family;
  font-weight: lighter;
  font-size: 1.5em;
  color: $bgc-dark-grey;
  font-smoothing: antialiased;

  &::selection {
    background-color: rgba($bgc-orange, 0.4);
  }
}

@mixin menu-font {
  font-family: $main-font-family;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  color: $bgc-medium-grey;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-smoothing: antialiased;
}

@mixin title-font {
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 1.1em;
  color: $bgc-medium-grey;
  font-smoothing: antialiased;

  &::selection {
    background-color: rgba($bgc-orange, 0.4);
  }
}

@mixin default-font {
  font-family: $main-font-family;
  color: $bgc-medium-grey;
  font-smoothing: antialiased;

  &::selection {
    background-color: rgba($bgc-orange, 0.4);
  }
}

@mixin smallPhone {
  @media all and (max-width: 320px) {
    @content;
  }
}

@mixin phone {
  @media all and (min-width: 321px)and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: 481px) and (max-width: 825px) {
    @content;
  }
}

@mixin tabletLandscape {
  @media all and (min-width: 826px) and (max-width: 1200px) {
    @content;
  }
}

@mixin largeDesktop {
  @media all and (min-width: 1400px) {
    @content;
  }
}
