@import './constants';

.firstContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstSec {
  display: flex;
  background-color: white;
  width: 100%;
  height: 600px;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;

  .chevronContainer {
    width: 50px;
    height: 150px;
    margin: 25px;
  }

  .chevron {
    width: 50px;
    height: 150px;
    fill: $bgc-medium-grey;
    opacity: 0;
  }

  .dotContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    opacity: 0;
    pointer-events: none;

    .dot {
      height: 9px;
      width: 9px;
      background-color: rgba($bgc-medium-grey, 0.4);
      border-radius: 50%;
      margin: 8px;
    }

    .dot1 {
      height: 9px;
      width: 9px;
      background-color: $bgc-orange;
      border-radius: 50%;
      margin: 8px;
    }
  }

  &:hover {
    .chevron {
      opacity: 0.2;
      transition: all 0.5s ease;
    }

    .dotContainer {
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
}

.featuredItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 25px;
}

.title {
  display: flex;
  @include subheader-font;
  margin: 30px 0 30px 0;
  font-size: 2em;
  color: $bgc-medium-grey;
}

.viewAllLink {
  text-decoration: none;
}

.thumbnailIcon {
  width: 25px;
  height: 25px;
  margin: 25px;
  fill: $bgc-medium-grey;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 450px;
  margin: 25px;
  margin-top: 0;
}

.featuredItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  background-color: white;
  border-radius: 3px;

  &:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transform: scale(1.02);
    transition: all 0.2s ease;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 25px;
  align-items: flex-end;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.smallProductTitle {
  @include subheader-font;
  font-weight: 400;
  margin: 0;
  color: $bgc-medium-grey;
}

.smallProductPrice {
  @include default-font;
  font-weight: 400;
  margin: 0;
}

.demoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.demoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  padding-bottom: 75px;
}

.demo {
  width: 700px;
  height: 500px;
  background-color: white;
}

.demoTitle {
  display: flex;
  @include subheader-font;
  margin-top: 75px;
  margin: 30px;
  font-size: 2em;
  color: $bgc-medium-grey;
}

.demoInfo {
  width: 600px;
  height: 400px;
  background-color: transparent;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 350px;
  background-color: black;
  border-radius: 2px;
  margin: 25px;
  margin-top: 0;

  .categoryTitle {
    @include subheader-font;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 25px;
    margin: 0;
    position: absolute;
    color: white;
    font-weight: 400;
  }

  .bkgrdimg {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 2px;
  }

  &:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transform: scale(1.02);
    transition: all 0.2s ease;
    cursor: pointer;

    .categoryTitle {
      transform: scale(1.1);
      transition: all 0.2s ease;
    }
  }
}

.footer {
  width: 100%;
  height: 450px;
  background-color: $bgc-dark-grey;
  margin-top: 75px;
}
