@import './constants';

.firstContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstSec {
  display: flex;
  background-color: white;
  width: 100%;
  height: 600px;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);

  .chevronContainer {
    width: 50px;
    height: 150px;
    margin: 25px;
  }

  .chevron {
    width: 50px;
    height: 150px;
    fill: $bgc-medium-grey;
    opacity: 0;
  }

  .dotContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    opacity: 0;
    pointer-events: none;

    .dot {
      height: 9px;
      width: 9px;
      background-color: rgba($bgc-medium-grey, 0.4);
      border-radius: 50%;
      margin: 8px;
    }

    .dot1 {
      height: 9px;
      width: 9px;
      background-color: $bgc-orange;
      border-radius: 50%;
      margin: 8px;
    }
  }

  &:hover {
    .chevron {
      opacity: 0.2;
      transition: all 0.5s ease;
    }

    .dotContainer {
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
}

.featuredItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 25px;
}

.title {
  display: flex;
  @include subheader-font;
  margin: 30px 0 30px 0;
  font-size: 2em;
  color: $bgc-medium-grey;
}

.viewAllLink {
  text-decoration: none;
}

.thumbnailIcon {
  width: 25px;
  height: 25px;
  margin: 25px;
  fill: $bgc-medium-grey;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 450px;
  margin: 25px;
  margin-top: 0;
}

.featuredItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transform: scale(1.02);
    transition: all 0.2s ease;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 25px;
  align-items: flex-end;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.smallProductTitle {
  @include subheader-font;
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
}

.smallProductPrice {
  @include subheader-font;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}

.demoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.demoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  padding-bottom: 75px;
}

.demo {
  width: 700px;
  height: 500px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.demoTitle {
  display: flex;
  @include subheader-font;
  margin-top: 75px;
  margin: 30px;
  font-size: 2em;
  color: $bgc-medium-grey;
}

.demoInfo {
  width: 600px;
  height: 400px;
  background-color: transparent;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 350px;
  background-color: black;
  border-radius: 2px;
  margin: 25px;
  margin-top: 0;

  .categoryTitle {
    @include subheader-font;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 25px;
    margin: 0;
    position: absolute;
    color: white;
    font-weight: 400;
  }

  .bkgrdimg {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 2px;
  }

  &:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transform: scale(1.02);
    transition: all 0.2s ease;
    cursor: pointer;

    .categoryTitle {
      transform: scale(1.1);
      transition: all 0.2s ease;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px;
  background-color: $bgc-dark-grey;
  margin-top: 75px;
  align-items: center;
}

.contactHeader {
  @include subheader-font;
  font-size: 1.5em;
  font-weight: 200;
  padding: 35px 0 35px 0;
  color: rgba($bgc-background-color, 0.7);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.horizontalRule {
  height: 1px;
  width: 95%;
  background-color: rgba($bgc-background-color, 0.3);
}

.contactSubheader {
  @include subheader-font;
  font-size: 1.3em;
  font-weight: 200;
  color: rgba($bgc-background-color, 0.7);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 16px;
}

.contactText {
  @include subheader-font;
  font-size: 1.25em;
  font-weight: 200;
  color: rgba($bgc-background-color, 0.5);
  letter-spacing: 2px;
  margin: 15px;
  display: flex;
  align-self: flex-start;
}

.addressText {
  @include subheader-font;
  font-size: 1.25em;
  font-weight: 200;
  color: rgba($bgc-background-color, 0.5);
  letter-spacing: 2px;
  margin: 0 0 20px 41px;
  display: flex;
  align-self: flex-start;
}
.contactInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leftContents {
  display: flex;
  flex-direction: column;
  padding:  41px 0 0 75px;
  width: 50%;
}

.rightContents {
  display: flex;
  flex-direction: column;
  padding:  41px 50px 0 0;
  width: 50%;
}

.callDiv {
  display: flex;
  flex-direction: row;

  &:hover {
    .phoneIcon {
      fill: $bgc-orange;
    }
  }
}

.phoneIcon {
  fill: rgba($bgc-background-color, 0.5);
  margin: 16px 0 16px 0;
  width: 25px;
  height: 25px;
}

.singleLineInput {
  @include subheader-font;
  font-size: 1.25em;
  appearance: none;
  outline: 0;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $bgc-light-grey;
  background: $bgc-light-grey;
  width: 90%;
  margin: 8px;
  margin-left: 16px;
  padding: 5px;

  &:focus {
    border-color: $bgc-orange;
  }
}

.textArea {
  @include subheader-font;
  font-size: 1.25em;
  appearance: none;
  outline: 0;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $bgc-light-grey;
  background: $bgc-light-grey;
  width: 90%;
  margin: 8px 0 0 16px;
  padding: 5px;
  min-height: 200px;

  &:focus {
    border-color: $bgc-orange;
  }
}

.sendDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-right: 25px;
}
