@import './constants';

.responsiveNavBar {
  position: fixed;
  width: 100%;
  height: 36px;
  top: 99px;
  background-color: $bgc-orange;;
  opacity: 0;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;

  &.showNav {
    top: 0;
    height: 65px;
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
    transition: height 0.3s ease-in;

    .navBarContents {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.navBarContents {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s 0.3s ease-in;
  padding: 0 15px;
}

.iconContainer {
  .cartIcon {
    width: 25px;
    height: 25px;
    fill: white;
    margin: 10px;
  }

  .hamburgerIcon {
    width: 25px;
    height: 25px;
    fill: white;
    margin: 10px 0;
  }
}

.bgcLink {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;

  .bgc {
    @include header-font;
    margin: 0;
    color: white;
    font-size: 2em;
    margin-right: 30px;
  }
}

.searchContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 65%;

  .resultsContainer {
    position: absolute;
    top: calc(100% + 12px);
    width: 100%;
    background-color: white;
    padding: 25px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-color: $bgc-medium-light-grey;
    max-height: 500px;
    overflow: auto;

    .link {
      text-decoration: none;
      display: block;
      outline: none;

      &:hover {
        background-color: $bgc-light-grey;
      }

      &:focus {
        background-color: $bgc-light-grey;
      }
    }
  }

  .searchItemContainer {
    padding: 10px;
  }

  .searchItem {
    @include subheader-font;
    font-weight: 400;
    font-size: 1.25em;
  }

  .description {
    @include default-font;
    color: black;
    font-weight: 300;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
}

.searchBar {
  @include default-font;
  appearance: none;
  outline: 0;
  border: none;
  border-color: $bgc-orange;
  border-radius: 20px 0 0 20px;
  font-size: 1.2em;
  text-align: left;
  height: 40px;
  display: flex;
  z-index: 100;
  margin: 0;
  padding: 10px 10px 10px 20px;
  width: 100%;

  &::placeholder {
    opacity: 0.6;
  }
}

.searchButton {
  @include default-font;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgc-yellow;
  width: 65px;
  height: 40px;
  border-radius: 0 22.5px 22.5px 0;
}

.searchIcon {
  fill: $bgc-medium-grey;
  width: 23px;
  height: 23px;
  cursor: pointer;

  &:hover {
    fill: $bgc-orange;
  }
}

.shoppingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.dark {
    .accountText {
      color: $bgc-medium-grey;
    }

    .divider {
      background-color: rgba($bgc-medium-grey, 0.5);
    }

    .cartIcon {
      fill: $bgc-medium-grey;
    }

    .searchIcon {
      fill: $bgc-medium-grey;
    }
  }

  &.light {
    .accountText {
      color: white;
    }

    .divider {
      background-color: rgba(white, 0.5);

      &.hide {
        width: 0;
      }
    }

    .cartIcon {
      fill: white;
    }

    .searchIcon {
      width: 0;
    }
  }
}

.accountText {
  @include default-font;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;

  &:hover {
    fill: $bgc-light-grey;
    cursor: pointer;
  }
}

.divider {
  width: 1px;
  height: 40px;
  background-color: rgba(white, 0.5);
  border: none;
  margin-left: 15px;
  margin-right: 15px;
}

.cartIcon {
  fill: white;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &:hover {
    fill: $bgc-light-grey;
  }
}
