@import './constants';

.responsiveNavBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 99px;
  width: 100%;
  height: 36px;
  background-color: $bgc-orange;;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  opacity: 0;
  pointer-events: none;

  &.showNav {
    top: 0;
    height: 65px;
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
    transition: height 0.3s ease-in;

    .navBarContents {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.navBarContents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 25px;
  transition: opacity 0.2s 0.3s ease-in;
  opacity: 0;
  pointer-events: none;

  @include smallPhone {
    justify-content: space-between;
  }

  @include phone {
    justify-content: space-between;
  }

  @include tablet {
    justify-content: space-between;
  }
}

.iconContainer {
  .cartIcon {
    width: 25px;
    height: 25px;
    fill: white;
    margin: 10px;
  }

  .hamburgerIcon {
    width: 25px;
    height: 25px;
    fill: white;
    margin: 10px 0;
  }
}

.bgcLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  text-decoration: none;

  .bgc {
    @include header-font;
    color: white;
    font-size: 2em;
    margin: 0;
    margin-right: 20px;
  }
}

.searchContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  margin-right: 85px;

  .resultsContainer {
    position: absolute;
    top: calc(100% + 12px);
    width: 100%;
    max-height: 500px;
    background-color: white;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-color: $bgc-medium-light-grey;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 25px;
    overflow: auto;

    .link {
      display: block;
      text-decoration: none;
      outline: none;

      &:hover {
        background-color: $bgc-light-grey;
      }

      &:focus {
        background-color: $bgc-light-grey;
      }
    }
  }

  .searchItemContainer {
    padding: 10px;
  }

  .searchItem {
    @include subheader-font;
    font-weight: 400;
    font-size: 1.25em;
  }

  .description {
    @include default-font;
    color: black;
    font-weight: 300;
    max-height: 40px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
}

.searchBar {
  display: flex;
  width: 100%;
  height: 40px;
  z-index: 100;

  @include default-font;
  font-size: 1.2em;
  text-align: left;

  border: none;
  border-color: $bgc-orange;
  border-radius: 20px 0 0 20px;
  margin: 0;
  padding: 10px 10px 10px 20px;
  appearance: none;
  outline: 0;

  &::placeholder {
    opacity: 0.6;
  }
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 40px;
  background-color: $bgc-yellow;
  border-radius: 0 22.5px 22.5px 0;
  @include default-font;

  .searchIcon {
    width: 23px;
    height: 23px;
    fill: $bgc-medium-grey;
  }
}
