@import './constants';

.mobileCartContainer {
  display: flex;
  flex-direction: column;

  .mobileQuantityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .qtyText {
      @include default-font;
      color: black;
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;

      @include smallPhone {
        font-size: 0.9em;
      }
    }
  }

  .changeContents {
    display: flex;
  }

  .mobileRemoveContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    width: 50%;

    .removeText {
      @include default-font;
      color: black;
      font-weight: 300;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include smallPhone {
        font-size: 0.9em;
      }
    }

    .remove {
      width: 25px;
      height: 25px;
      margin: 10px;
      fill: darken(red, 10);
    }
  }
}

.mobileTotalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .totalLabel, .subtotal {
    @include subheader-font;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 5px;
  }
}

.mobileBorder {
  border: solid 1px $table-border-color;
  margin: 10px;
  padding: 15px;
}

.mobileItemLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  .item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }

  .thumbnailImage {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10px;
  }

  .name, .mobileItemTotal {
    @include default-font;
    color: black;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include smallPhone {
      font-size: 0.9em;
    }
  }

  .mobileUnitPrice {
    width: 100%;
    @include default-font;
    font-weight: 300;
    font-size: 0.9em;
    color: black;
  }

  .mobileItemTotal {
    flex: 1;
    align-items: flex-start;
    text-align: right;
  }
}

.mobileHorizontalRule {
  background-color: $table-border-color;
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

.mobileCheckoutLink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  text-decoration: none;
}

.mobileCheckoutButton {
  width: 100%;
}
