@import './constants';

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100000;

  @include smallPhone {
    padding-top: 50px;
  }

  .exit {
    position: absolute;
    top: 0;
    right: 0;
    fill: $bgc-medium-grey;
    width: 50px;
    height: 50px;
    margin: 20px;

    @include smallPhone {
      width: 40px;
      height: 40px;
      margin: 15px;
    }
  }

  .backButton {
    position: absolute;
    top: 0;
    left: 0;
    fill: $bgc-medium-grey;
    width: 64px;
    height: 64px;
    margin: 13px 0;

    @include smallPhone {
      width: 50px;
      height: 50px;
      margin: 10px 0;
    }
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;

    .horizontalRule {
      height: 1px;
      width: 80%;
      background-color: $bgc-medium-light-grey;
      margin: 10px;
    }

    .item {
      @include menu-font;
      font-size: 2em;
      margin: 10px;
    }

    .link {
      text-decoration: none;
      margin: 0;
    }
  }

  .searchContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 25px;
    z-index: 1000000;

    .mobileSearch {
      fill: $bgc-medium-grey;
      width: 40px;
      height: 40px;
      margin: 10px;
    }

    .searchField {
      @include default-font;
      appearance: none;
      outline: 0;
      border: none;
      font-size: 1.75em;
      text-align: left;
      height: 40px;
      display: flex;
      margin: 10px;
      width: 100%;
      border-style: solid;
      border-width: 0 0 2px 0;
      border-color: $bgc-medium-grey;
      padding: 20px 0;

      &::placeholder {
        opacity: 0.6;
      }
    }
  }
}


.mobileNavContainer {
  position: relative;
  z-index: 1000;
}

.mobileNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  top: 0;
  background-color: white;
  padding: 0 10px;

  @include phone {
    padding: 0 20px;
  }

  .iconContainer {
    display: flex;
    justify-content: flex-end;
    width: 30%;

    .cart {
      width: 25px;
      height: 25px;
      fill: $bgc-medium-grey;
      margin: 10px 15px;
    }

    .hamburger {
      width: 25px;
      height: 25px;
      fill: $bgc-medium-grey;
      margin: 10px 10px 10px 5px;
    }
  }

  .link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    .bgc {
      @include header-font;
      text-align: left;
      margin: 0;
      font-size: 1.5em;
    }
  }

  .header {
    margin: 0;
  }

  .menuLink {
    text-decoration: none;
  }
}
