@import './constants';

html, body, main {
  min-height: 100%;
  margin: 0;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 99px;
  top: 0;
  background-color: white;
}

.header {
  margin: 0;
}

.bgcContainer {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  padding-left: 20px;
  width: 125px;
  height: 99px;
}

.bgc {
  @include header-font;
  text-align: left;
  margin: 0;
}

.slogan {
  @include subheader-font;
  text-align: center;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;

  .item {
    @include menu-font;
    margin: 5px;
  }

  .underline {
    width: 85px;
    height: 2px;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;

    .underline {
      opacity: 1;
      background-color: black;
      transition: all 0.5s ease;
    }

    .item {
      color: black;
      transition: all 0.5s ease;
    }

    .products {
      opacity: 1;
      pointer-events: all;
      transition: all 0.25s ease;
    }
  }
}

.iconContainer {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.search {
  fill: #546e7a;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    fill: black;
  }
}

.cart {
  fill: #546e7a;
  width: 20px;
  height: 20px;
  margin-right: 40px;
  cursor: pointer;

  &:hover {
    fill: black;
  }
}

.alertBar {
  position: fixed;
  top: 99px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  height: 36px;
  background-color: #ebb052;
}

.alertMessage {
  @include subheader-font;
  margin: 5px;
  cursor: pointer;
  color: white;
}

.chevron {
  display: flex;
  align-self: center;
  fill: white;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  cursor: pointer;
}
