@import './constants';

.dropdown {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 99px;
  left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
}

.productMenuContainer {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 40px;
  justify-content: space-around;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;

  @include tabletLandscape {
    width: 100%;
  }

  @include tablet {
    width: 75%;
    justify-content: center;

    .buglesContainer {
      width: 50%;
    }

    .reedsContainer {
      width: 50%;
    }
  }
}

.group2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;

  @include tabletLandscape {
    width: 100%;
 }

 @include tablet {
   width: 75%;
   justify-content: center;

  .dvdsContainer {
    width: 50%;
  }

  .otherContainer {
    width: 50%;
  }
 }
}

.columnTitle {
  @include title-font;
  margin-top: 20px;
  margin-bottom: 10px;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.productNames {
  @include default-font;
  margin: 3px 0 3px 5px;
  white-space: nowrap;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.productsLink {
  text-decoration: none;
  width: 90%;
}
