@import './constants';

.dropdown {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 99px;
  left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 10px 50px 10px;

  @include tabletLandscape {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }
}

.group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;

  @include tabletLandscape {
    width: 100%;
    padding-left: 75px;

    .buglesContainer {
      width: 50%;
    }

    .reedsContainer {
      width: 50%;
    }
  }

  @include tablet {
    width: 100%;
    justify-content: space-between;

    .dvdsContainer {
      width: 50%;
    }

    .otherContainer {
      width: 50%;
    }
  }
}

.group2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding-left: 75px;

  @include tabletLandscape {
    width: 100%;
    justify-content: space-between;

    .dvdsContainer {
      width: 50%;
    }

    .otherContainer {
      width: 50%;
    }
 }

 @include tablet {
   width: 100%;
   justify-content: space-between;

   .dvdsContainer {
     width: 50%;
   }

   .otherContainer {
     width: 50%;
   }
 }
}

.columnTitle {
  @include title-font;
  margin-top: 20px;
  margin-bottom: 10px;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.productNames {
  @include default-font;
  margin: 3px 0 3px 5px;
  white-space: nowrap;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.productsLink {
  text-decoration: none;
  width: 90%;
}
