@import './constants';

.pickerContainer {
  display: flex;
  flex-direction: row;
  margin-right: 30px;

  &:hover {
    .input {
      border-color: $bgc-medium-grey;
      transition: all 0.3s ease;
    }

    .up {
      border-color: $bgc-medium-grey;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .down {
      border-color: $bgc-medium-grey;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  .input {
    @include subheader-font;
    font-size: 1.25em;
    appearance: none;
    outline: 0;
    border: solid;
    border-width: 2px;
    border-radius: 5px 0 0 5px;
    border-color: $bgc-light-grey;
    background: none;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 30px 0 30px 0;
    border-right: 0;
  }
}

.pickerButtonContainer {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  .up {
    @include subheader-font;
    font-size: 1em;
    appearance: none;
    outline: 0;
    border: solid;
    border-width: 2px;
    border-color: $bgc-light-grey;
    background: none;
    height: 25px;
    width: 25px;
    border-bottom: 0;
    border-radius: 0 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .down {
    @include subheader-font;
    font-size: 1em;
    appearance: none;
    outline: 0;
    border: solid;
    border-width: 2px;
    border-color: $bgc-light-grey;
    background: none;
    height: 25px;
    width: 25px;
    margin-bottom: 0 30px 30px 0;
    border-radius: 0 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pickerChevron {
    fill: $bgc-dark-grey;
    width: 10px;
    height: 10px;
  }
}
