@import './constants';

.pickerContainer {
  display: flex;
  flex-direction: row;

  &:hover {
    .input {
      border-color: $bgc-medium-grey;
      transition: all 0.3s ease;
    }

    .up {
      border-color: $bgc-medium-grey;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .down {
      border-color: $bgc-medium-grey;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }

  .input {
    width: 50px;
    height: 50px;
    @include subheader-font;
    text-align: center;
    font-size: 1.25em;
    border: solid 2px $bgc-light-grey;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    background: none;
    appearance: none;
    outline: 0;
  }
}

.pickerButtonContainer {
  display: flex;
  flex-direction: column;

  .up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;

    @include subheader-font;
    font-size: 1em;
    background: none;
    border: solid 2px $bgc-light-grey;
    border-bottom: 0;
    border-radius: 0 5px 0 0;
    appearance: none;
    outline: 0;
  }

  .down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    @include subheader-font;
    font-size: 1em;
    border: solid 2px $bgc-light-grey;
    border-radius: 0 0 5px 0;
    background: none;
    margin-bottom: 0 30px 30px 0;
    appearance: none;
    outline: 0;
  }

  .pickerChevron {
    width: 10px;
    height: 10px;
    fill: $bgc-dark-grey;
  }
}
