@import './constants';

.shoppingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.dark {
    .accountText {
      color: $bgc-medium-grey;
    }

    .divider {
      background-color: rgba($bgc-medium-grey, 0.5);
    }

    .cartIcon {
      fill: $bgc-medium-grey;
    }

    .searchIcon {
      fill: $bgc-medium-grey;
    }

    .cartQuantity {
      background-color: $bgc-orange;
    }
  }

  &.light {
    .accountText {
      color: white;
    }

    .divider {
      background-color: rgba(white, 0.5);

      &.hide {
        width: 0;
      }
    }

    .cartIcon {
      fill: white;
    }

    .searchIcon {
      width: 0;
    }

    .cartQuantity {
      background-color: $bgc-dark-orange;
    }
  }

  .cartQuantity {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @include default-font;
    color: white;
    font-size: 9pt;
    line-height: 9pt;
  }

  .searchIcon {
    fill: $bgc-medium-grey;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &:hover {
      fill: $bgc-orange;
    }
  }

  .cartIcon {
    fill: white;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      fill: $bgc-orange;
    }
  }
}

.divider {
  width: 1px;
  height: 40px;
  background-color: rgba(white, 0.5);
  border: none;
  margin-left: 15px;
  margin-right: 15px;
}

.cartContainer {
  position: relative;
}

.loginLink {
  text-decoration: none;
}

.accountMenu {
  opacity: 0;
  pointer-events: none;
}

.showAccountMenu {
  .accountMenu {
    opacity: 1;
    pointer-events: all;
    transition: all 0.25s ease;
  }
}

.accountItem {
  @include default-font;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;

  &:hover {
    color: $bgc-orange;
    cursor: pointer;
  }
}

.accountMenuContainer {
  background: white;
  position: fixed;
  padding: 25px;
  top: 99px;
  right: 0;
  width: 250px;
  border: solid;
  border-width: 1px;
  border-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;

  .accountOption {
    @include default-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      color: $bgc-orange;
    }
  }
}
